@import url(modern-normalize.css);
@import url(fonts.css);
@import url(prism-dracula.css);

html {
    background-color: #25222d;
    color: white;
    font-family: "Fira Sans";
}
body {
    min-height: 100dvh;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
a:link {
    color: aqua;
}
a:visited {
    color: pink;
}
code {
    background-color: #505050;
    border-radius: 4px;
    padding: 2px;
}
table {
    border-collapse: collapse;
}
td,
th {
    border: 1px solid white;
    padding: 0.7rem;
    line-height: 1.5rem;
}
th {
    background-color: rgba(255, 255, 255, 0.15);
}
:target {
    scroll-margin-top: 4rem; /* navbar height */
}

/* custom things */
a:has(.header-link) {
    color: white;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    position: relative;
    opacity: 0.2;
    transition: 200ms;
}
a:has(.header-link):hover {
    opacity: 1;
}
.header-link {
    position: absolute;
    right: 0.5rem;
}
h1, h2, h3, h4, h5, h6 {
    display: flex;
}
